@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */

:root {
    --primary-font: "Poppins", sans-serif;
    --white: #ffffff;
    --text-color: #000000;
    --text-color2: #008aee;
    --primary-color: #008aee;
    --stroke: #008aee;
    --hover-color: #dbeffd;
    --gray: #aaaaaa;
    --box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 17%);
    --dark-mode-bg: #1e1e1e;
    --dark-mode-bg2: #121212;
    --dark-mode-text: #c0c5cb;
    --content-and-hover-bg: #414141;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

/* body {
  background: #eef8ff !important;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    margin-top: 0;
}

p {
    font-family: var(--primary-font);
}

span {
    font-family: var(--primary-font);
}

a {
    text-decoration: none !important;
    font-family: var(--primary-font);
}

ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    font-family: var(--primary-font);
}

button {
    border: none;
    outline: none;
    font-family: var(--primary-font);
}

input {
    outline: none;
    font-family: var(--primary-font);
}

label {
    font-family: var(--primary-font);
}

/*====================
Reset Default CSS End
====================*/

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--hover-color);
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    width: 10px;
    border-radius: 5px;
    border-color: none !important;
}

/* scrollbar */
/* .......................................................... */
/* ......................Dashboard Css Start................. */
/* .......................................................... */
/* Cards Start */
.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

#cards .card-item {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

#cards .card-body {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--hover-color);
    border-radius: 6px;
    transition: 0.3s;
}

#cards .card-body:hover {
    box-shadow: var(--box-shadow);
}

#cards .card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50px;
    height: 50px;
}

#cards .card-icon svg {
    width: 40px;
    height: 40px;
}

#cards h4 {
    color: var(--text-color);
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    font-family: var(--primary-font);
    margin: 10px 0 !important;
    margin-bottom: 0px;
}

#cards h5 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
    font-family: var(--primary-font);
    text-align: center;
    margin: 0;
}

/* Cards End */

.data-table .invoice-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.data-table .invoice-btn h1 {
    font-size: 26px;
    font-weight: 600;
    color: var(--primary-color);
}

.data-table .table-btn-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.data-table .create-invoices {
    display: inline-block;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px solid var(--stroke) !important;
    background: var(--primary-color);
    font-family: var(--primary-font);
    border: none;
    padding: 6px 10px;
    transition: 0.4s;
    color: var(--white);
    font-weight: 600;
}

.data-table .create-invoices:hover {
    background: var(--white);
    color: var(--text-color);
    border: 1px solid var(--stroke);
}

.data-table .view-more-btn {
    display: inline-block;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 8px 10px;
    white-space: nowrap;
    border: 1px solid var(--stroke);
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--white) !important;
    font-family: var(--primary-font);
    border: none;
}

/* .......................................................... */
/* ......................Dashboard Css End................. */
/* .......................................................... */

/* .......................................................... */
/* ......................User Profile Css Start................. */
/* .......................................................... */

/* Project Section Start */

.bredcam {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin: 0px 0px 10px 0px;
}

.bredcam .bredcam-title {
    display: flex;
    align-items: center;
}

.bredcam h1 {
    font-weight: 600;
    font-size: 32px;
    margin: 0;
    font-family: var(--primary-font);
    color: var(--text-color2);
}

.project-title h4 {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding: 15px 0px;
    font-family: var(--primary-font);
    color: #192045;
}

/* Profile item Start */
.profile-section {
    border-radius: 8px;
    width: 100%;
}

.avatar-container {
    display: flex;
    text-align: left;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
}

.uplode-icon {
    padding-right: 10px;
}

.upload-button {
    background-color: #007bff;
    color: white;
    padding: 16px 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.uploder-items {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.uploder-items .upload-description {
    font-size: 14px;
    font-weight: 500;
    color: var(--gray);
    padding: 10px 0px;
    text-align: left;
    width: 100%;
}

#file-upload {
    display: none;
}

.profile-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.input-group {
    display: flex;
    /* flex-direction: column; */
}

.input-group::placeholder {
    font-size: 14px;
}

.input-group label {
    font-weight: 600;
    font-size: 18px;
    color: #2f3a4f;
    margin-bottom: 4px;
}

.input-group input {
    padding: 12px;
    font-size: 14px;
    border: 2px solid #aaaaaa55;
    border-radius: 8px !important;
    outline: none;
}

.input-group input:focus {
    border: 2px solid #77c5fd;
}

.change-password {
    grid-column: span 2;
    font-size: 20px;
    color: #2f3a4f;
    margin-top: 14px;
    margin-bottom: 8px;
}

.save-button {
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 38px;
}

/* Responsive styles for screens 575px and below */
@media (max-width: 575px) {
    .profile-form {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .change-password {
        grid-column: 1;
        width: 100%;
        text-align: left;
    }

    .save-button {
        grid-column: 1;
        width: 100%;
        text-align: center;
    }

    .avatar-container {
        flex-direction: column;
        align-items: center;
    }

    .upload-button {
        width: 100%;
        padding: 12px 0;
    }
}

/* Profile item End */

.copyright p {
    font-size: 16px;
    font-weight: normal;
    color: var(--text-color);
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
}

/* User Profile Section End */

/* .......................................................... */
/* ......................User Profile Css End................. */
/* .......................................................... */

/* .......................................................... */
/* ......................Sign in Sign Up Css Start................. */
/* .......................................................... */
.sign-in-signup .container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../img/Sign-In-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sign-in-signup .container .card {
    width: 800px;
    background: rgba(255, 255, 255, 0.4);
    font-family: var(--primary-font);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(4px);
    text-align: center;
    padding: 16px;
}

.sign-in-signup .card .card-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.sign-in-signup .card .card-wrapper .card-image {
    width: 50%;
}

.sign-in-signup .card .card-wrapper .card-item {
    width: 50%;
    padding: 30px 30px 30px 46px;
}

.sign-in-signup .card .card-wrapper img {
    height: auto;
    width: 100%;
    border-radius: 16px;
}

.sign-in-signup .card .brand-logo {
    width: 100%;
    padding-bottom: 20px;
}

.sign-in-signup .card .brand-logo img {
    width: 240px;
    height: 70px;
}

.sign-in-signup .card h2 {
    font-size: 23px;
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--text-color);
    margin-bottom: 30px;
}

.sign-in-signup .card form {
    display: flex;
    flex-direction: column;
}

.sign-in-signup .card form label {
    position: relative;
    margin-bottom: 5px;
    margin: 0px;
}

.sign-in-signup .card label .hide-icon {
    width: 25px;
    position: absolute;
    right: 10px;
    top: 12px;
}

.sign-in-signup .card input {
    position: relative;
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 12px;
    border: 1px solid var(--gray);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
}

.sign-in-signup .card input:focus {
    border-color: var(--primary-color) !important;
}

.sign-in-signup .card input::placeholder {
    color: var(--gray) !important;
}

.sign-in-signup .card .forgot-password {
    text-align: right;
    font-size: 15px;
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--text-color2);
    margin-bottom: 16px;
}

.sign-in-signup .card button {
    display: inline-block;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 8px;
}

.sign-in-signup .card .switch {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--primary-font);
}

.sign-in-signup .switch a {
    color: #007bff;
    text-decoration: none;
}

.sign-in-signup .password-container {
    position: relative;
    display: flex;
    align-items: center;
}
.sign-in-signup .password-container #togglePassword {
    position: absolute;
    right: 20px;
    top: 10px;
}
.sign-in-signup .password-container input {
    width: 100%;
    padding-right: 30px; /* Optional, to keep input field look consistent */
}
.sign-in-signup .toggle-password {
    position: relative;
    top: -10px; /* Adjust based on your design needs */
    cursor: pointer;
    z-index: 2; /* Ensure the icon is clickable */
    padding: 5px;
}

.sign-in-signup .card form .cheakbox {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
}

.sign-in-signup .card form .cheakbox a {
    color: var(--primary-color);
}

.sign-in-signup .card form .cheakbox input {
    width: 18px;
    height: 18px;
    display: flex;
    margin: 0px;
}

.sign-in-signup .card form .cheakbox h1 {
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
    margin: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 750px) {
    .sign-in-signup .card .card-wrapper .card-image {
        display: none;
    }

    .sign-in-signup .card .card-wrapper .card-item {
        width: 100%;
        padding: 0px;
    }

    .sign-in-signup .card .brand-logo img {
        width: 170px;
        height: 55px;
    }

    .sign-in-signup .card h2 {
        font-size: 20px;
    }
}

/* .......................................................... */
/* ......................Sign in Sign Up Css End................. */
/* .......................................................... */

/* .......................................................... */
/* ......................Invoice Css Start................. */
/* .......................................................... */
.invoice-container {
    max-width: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.invoice-container .invoice-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.invoice-container .logo-wrapper img {
    width: 120px;
    display: inline-block;
    border: none;
}

.invoice-container .logo-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.invoice-container .logo-wrapper p {
    font-size: 12px;
    color: var(--text-color);
    margin: 0;
}

.invoice-container .invoice-wrapper {
    display: flex;
    justify-content: left;
}
.invoice-container .invoice-wrapper table {
    width: 180px;
    margin: auto;
    border-spacing: 0;
}

.invoice-container .invoice-wrapper td {
    border: 1px solid #000000;
    padding: 1px 5px;
    color: #000000;
    font-size: 11px;
    text-align: right;
    font-weight: 500;
}

.invoice-container .invoice-wrapper .number,
.date {
    background: #d6d6d6;
}

.invoice-container .invoice-wrapper tr:first-child td:first-child {
    text-align: left;
}

.invoice-container .invoice-wrapper tr:last-child td:first-child {
    text-align: left;
}

.invoice-container .invoice-wrapper tr:first-child td:last-child {
    text-align: right;
}

.invoice-container .invoice-wrapper tr:last-child td:last-child {
    text-align: right;
}

.invoice-container .billing-section {
    display: flex;
    justify-content: space-between;
}

.invoice-container .billing-section .wrapper {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: start;
}

.invoice-container .shop-details {
    display: flex;
    align-items: end;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    text-align: right;
}

.invoice-container .billing-to {
    display: flex;
    align-items: start;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
}

.invoice-container .billing-to h3,
.invoice-container .shop-details h3 {
    margin-bottom: 0px;
    font-size: 12px;
}

.invoice-container .billing-to p,
.invoice-container .shop-details p {
    font-size: 11px;
    color: var(--text-color);
    margin-bottom: 0;
    line-height: 1.5;
}

.invoice-container .invoice_table_list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 8px;
}

.invoice-container .invoice_table_list th,
.invoice-container .invoice_table_list td {
    padding: 10px;
    font-size: 11px;
    border: 1px solid #333;
    color: var(--text-color);
    padding: 1px 5px !important;
    text-align: center;
}

.invoice-container .invoice_table_list th {
    background-color: #e0e0e0;
    font-weight: 600;
}

.invoice-container .full-paid {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.invoice-container .print-icon {
    color: var(--text-color);
    background: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
    padding: 0px 5px 0px 0px;
    border: 1px solid var(--text-color);
    border-radius: 6px;
    transition: 0.4s;
}

.invoice-container .print-icon svg {
    width: 32px;
    height: 32px;
}

.invoice-container .print-icon:hover {
    background-color: #f9f9f9;
}

.invoice-container .amount_text,
.invoice-container .amount {
    font-size: 16px;
}

.invoice-container .footer-message {
    text-align: center;
    margin-top: 4px;
}

.invoice-container .footer-message .google-text {
    margin: 0;
    color: var(--text-color);
    font-size: 11px;
    font-weight: 600;
    margin-top: 4px;
    line-height: 14px;
}
.invoice-container .footer-message p {
    margin: 0;
    color: var(--text-color);
    font-size: 11px;
}

@media print {
    .invoice-container .print-icon {
        display: none;
    }

    .main-content .copyright p {
        display: none;
    }

    .invoice-container .billing-to,
    .invoice-container .shop-details {
        padding: 0;
    }
    .invoice-container .shop-details {
        padding: 0;
    }

    .invoice-container .header-wrap {
        justify-content: center;
    }

    .invoice-container .logo-wrapper {
        margin-left: 50px;
    }

    @page {
        size: A4;
        margin: 0 !important;
        padding: 20px !important;
    }
}

@media (max-width: 768px) {
    .invoice-container .billing-section {
        flex-direction: column;
        flex-direction: column-reverse;
        gap: 15px;
    }

    .invoice-container .shop-details,
    .invoice-container .billing-to,
    .invoice-container .billing-card {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .invoice-container .invoice-title {
        font-size: 1.5em;
    }

    .invoice-container .invoice_table_list {
        padding-bottom: 10px;
    }

    .invoice-container .invoice_table_list {
        width: 100%;
        overflow-x: auto;
        display: block;
    }

    .invoice-container .invoice_table_list th,
    .invoice-container .invoice_table_list td {
        padding: 8px;
        font-size: 0.9em;
    }

    .invoice-container .footer-message {
        font-size: 12px;
    }
}

@media print {
    .invoice-container .header-wrap {
        flex-direction: row;
        justify-content: space-between;
    }

    .invoice-container .billing-section {
        flex-direction: row;
        justify-content: space-between;
    }
}
/* .......................................................... */
/* ......................Invoice Css End................. */
/* .......................................................... */

/* .......................................................... */
/* ......................Invoice Details Css Start................. */
/* .......................................................... */
/* Finance Invoice Details Start */

.invoice-details-wrap .bredcam {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin: 0px 0px 10px 0px;
}

.invoice-details-wrap .bredcam span {
    font-size: 30px;
    padding: 0 6px;
    color: #aaaaaa;
}

.invoice-details-wrap .bredcam h1 {
    font-weight: 600;
    font-size: 32px;
    margin: 0;
    font-family: var(--primary-font);
    color: var(--text-color2);
}

.invoice-details-wrap .bredcam a {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    font-family: var(--primary-font);
    color: var(--text-color);
}

.invoice-details-wrap #invoice-details {
    background: var(--white);
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-radius: 5px;
}

.invoice-details-wrap #invoice-details .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 100px;
}

.invoice-details-wrap #invoice-details .brand-logo {
    margin-bottom: 10px;
}

.invoice-details-wrap #invoice-details .brand-logo img {
    width: 40px;
    height: 40px;
}

.invoice-details-wrap #invoice-details .brand-logo span {
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color2);
    padding-left: 5px;
}

#invoice-details .brand-address p,
#invoice-details .brand-address h1 {
    font-family: var(--primary-font);
    font-size: 14px;
    color: var(--text-color);
    font-weight: normal;
}

#invoice-details .invoice-address p,
#invoice-details .invoice-address h1 {
    font-family: var(--primary-font);
    font-size: 14px;
    color: var(--text-color);
    font-weight: normal;
}

#invoice-details .brand-address h1 {
    font-family: var(--primary-font);
    font-size: 14px;
    color: var(--text-color);
    font-weight: normal;
}

#invoice-details .brand-address h1 span {
    font-family: var(--primary-font);
    font-size: 20px;
    color: var(--text-color);
    font-weight: 600;
    padding-left: 6px;
}

#invoice-details .invoice-address h1 span {
    font-family: var(--primary-font);
    font-size: 18px;
    color: var(--text-color);
    font-weight: 600;
    padding-left: 6px;
}

#invoice-details .invoice-address .title span {
    font-family: var(--primary-font);
    font-size: 20px;
    color: var(--text-color2);
    font-weight: 600;
    padding-left: 6px;
}

#invoice-details .invoice-address .title {
    margin-bottom: 20px !important;
}

#invoice-details .brand-address p span {
    padding-left: 6px;
}

#invoice-details .invoice-address p span {
    padding-left: 6px;
}

#invoice-details .address h1 {
    font-size: 20px;
    font-family: var(--primary-font);
    font-weight: 500;
    color: #aaaaaa;
}

#invoice-details .address h2 {
    font-size: 20px;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--text-color);
}

#invoice-details .address h2 {
    font-size: 18px;
    font-family: var(--primary-font);
    font-weight: normal;
    color: var(--text-color);
}

.invoice-details-table {
    width: 100%;
}

.invoice-details-table .paid {
    border: 1px solid #14cc52;
    color: #14cc52;
    border-radius: 5px;
    font-family: var(--primary-font);
    font-size: 26px;
    font-weight: normal;
    padding: 0px 10px;
    margin-bottom: -30px;
}

.invoice-details-table {
    margin-bottom: 20px;
}

.invoice-details-table thead tr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--hover-color);
}

.invoice-details-table thead tr th {
    width: 25%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--primary-font);
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.invoice-details-table tbody tr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invoice-details-table tbody tr:nth-child(1) {
    border-bottom: 1px solid var(--gray);
}

.invoice-details-table tbody tr:nth-child(2) td:nth-child(5) {
    border-bottom: 1px solid var(--gray);
}

.invoice-details-table tbody tr td {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--primary-font);
    color: var(--text-color);
    font-size: 18px;
    font-weight: normal;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    white-space: nowrap;
}

.invoice-details-table tbody tr td h1 {
    color: var(--text-color) !important;
    font-size: 18px !important;
    font-weight: normal !important;
}

#invoice-details .condition {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#invoice-details .condition .signature h1 {
    position: absolute;
    border-top: 1px solid var(--gray);
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: normal;
    color: var(--text-color);
    padding: 10px 90px 0px 90px;
    bottom: 0;
    left: 0;
    margin: 0;
}

#invoice-details .terms-condition p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: normal;
    color: var(--text-color);
}

#invoice-details .invoice-details-button {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    margin-top: 30px;
}

#invoice-details .invoice-details-button .cancel {
    display: inline-block;
    border: 1px solid var(--text-color);
    background: none;
    border-radius: 5px;
    color: var(--text-color2);
    font-size: 16px;
    padding: 2px 20px;
    font-family: var(--primary-font);
    font-weight: bold;
    transition: 0.4s;
}

#invoice-details .invoice-details-button .cancel:hover {
    color: var(--white);
    background: var(--primary-color);
    border-color: var(--primary-color);
}

#invoice-details .invoice-details-button .send {
    display: inline-block;
    border: 1px solid var(--text-color2);
    background: var(--text-color2);
    border-radius: 5px;
    color: var(--white);
    font-size: 16px;
    padding: 2px 20px;
    font-family: var(--primary-font);
    font-weight: bold;
    transition: 0.4s;
}

#invoice-details .invoice-details-button .send:hover {
    border: 1px solid var(--text-color);
    background: transparent;
    color: var(--primary-color);
}

.copyright p {
    font-size: 18px;
    font-weight: normal;
    color: var(--text-color);
    padding: 20px 0;
    margin: 0;
}

.invoice-details-table-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.invoice-details-table-wrapper::-webkit-scrollbar {
    height: 10px !important;
    background-color: rgb(221, 221, 221);
    cursor: pointer;
    border-radius: 5px;
}

.invoice-details-table-wrapper::-webkit-scrollbar-thumb {
    background: var(--background2);
    height: 10px !important;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #invoice-details .contact {
        margin-bottom: 40px;
    }

    .invoice-details-table-wrapper {
        overflow-x: scroll !important;
    }

    #invoice-details .condition .signature h1 {
        font-size: 14px;
        padding: 10px 20px 0px 20px;
    }

    #invoice-details .terms-condition p {
        font-size: 13px;
    }

    #invoice-details .invoice-details-button {
        justify-content: center;
        margin-top: 20px;
    }

    #invoice-details .invoice-details-button .cancel {
        font-size: 13px;
        padding: 2px 15px;
    }

    #invoice-details .invoice-details-button .send {
        font-size: 13px;
        padding: 2px 15px;
    }

    #invoice-details .contact {
        margin-bottom: 40px;
        align-items: center;
    }

    #invoice-details .contact .brand-address {
        text-align: left;
    }

    #invoice-details .contact .brand-address:nth-child(2) {
        text-align: right;
        white-space: nowrap;
        padding-left: 20px;
    }

    #invoice-details .brand-address p,
    #invoice-details .brand-address h1 {
        font-size: 14px;
    }

    #invoice-details .brand-address h1 {
        font-size: 14px;
    }

    #invoice-details .brand-address h1 span {
        font-size: 16px;
    }

    .invoice-details-wrap .bredcam h1 {
        font-size: 24px;
        margin: 0;
    }

    .invoice-details-wrap .bredcam a {
        font-size: 14px;
    }

    .invoice-details-wrap .bredcam span {
        font-size: 18px;
    }
}

/* Finance Invoice Details End */

/* .......................................................... */
/* ......................Invoice Details Css End................. */
/* .......................................................... */

/* .......................................................... */
/* ......................Bar Code Print Css Start................. */
/* .......................................................... */
.barcode-print-wrapper {
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
}

.barcode-print-wrapper .title {
    display: block;
    font-size: 32px;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

.barcode-print-wrapper .src-group {
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid var(--stroke);
    border-radius: 30px;
    background-color: var(--hover-color);
    padding: 10px 20px;
    margin-bottom: 20px;
}

.barcode-print-wrapper .src-group label {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 600;
}

.barcode-print-wrapper .src-group input {
    font-size: 16px;
    border-radius: 4px 30px 30px 4px;
    -webkit-border-radius: 4px 30px 30px 4px;
    -moz-border-radius: 4px 30px 30px 4px;
    -ms-border-radius: 4px 30px 30px 4px;
    -o-border-radius: 4px 30px 30px 4px;
}

.barcode-print-wrapper .main-form .table-wrapper {
    overflow: auto;
    margin-bottom: 20px;
}

.barcode-print-wrapper .main-form table {
    width: 100%;
    border-collapse: collapse;
    color: var(--text-color);
}

.barcode-print-wrapper .main-form table td,
.barcode-print-wrapper .main-form table th {
    text-align: center;
    border: 1px solid var(--gray);
    padding: 8px;
}

.barcode-print-wrapper .main-form table .dlt-btn {
    display: inline-block;
    background: red;
    color: var(--white);
    width: 30px;
    height: 30px;
    border-radius: 6px;
}

.barcode-print-wrapper .custom-number-input .decrement,
.barcode-print-wrapper .custom-number-input .increment {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

.barcode-print-wrapper .custom-number-input .decrement:disabled,
.barcode-print-wrapper .custom-number-input .increment:disabled {
    background-color: var(--gray);
    cursor: not-allowed;
}

.barcode-print-wrapper .custom-number-input .decrement {
    margin-right: 5px;
}

.barcode-print-wrapper .custom-number-input .increment {
    margin-left: 5px;
}

.barcode-print-wrapper .form-group {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.barcode-print-wrapper .form-group .fields {
    font-size: 18px !important;
    color: var(--text-color);
    font-weight: 600;
}

.barcode-print-wrapper .checkbox-group label {
    font-size: 16px;
    color: var(--text-color);
    font-weight: 500;
}

.barcode-print-wrapper .form-group .btn-generate {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
    display: inline-block;
}

.barcode-print-wrapper .form-group .btn-reset {
    background-color: red;
    color: var(--white);
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
    display: inline-block;
}

.barcode-print-wrapper .form-group .btn-generate:hover {
    background-color: #3390f3;
}

.barcode-print-wrapper .form-group .btn-reset:hover {
    background-color: rgb(252, 71, 71);
}

.barcode-print-wrapper .barcode-preview {
    text-align: center;
    margin-top: 30px;
}

.barcode-print-wrapper .barcode-preview .btn-print {
    display: inline-block;
    background: var(--primary-color);
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    border-radius: 30px;
    transition: 0.4s;
}

.barcode-print-wrapper .barcode-preview .btn-print:hover {
    background: #318ff3;
}

/* Remove default spinner buttons */
.barcode-print-wrapper input[type="number"]::-webkit-inner-spin-button,
.barcode-print-wrapper input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.barcode-print-wrapper input[type="number"] {
    width: 100px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    outline: none;
}

.barcode-print-wrapper input[type="number"]:focus {
    border-color: var(--stroke);
}

.barcode-print-wrapper input[type="text"],
.barcode-print-wrapper input[type="number"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.barcode-card-wrapper {
    margin-top: 20px;
    overflow: hidden;
}

.barcode-card-item {
    display: flex;
    align-items: center;
    border-radius: 6px;
    gap: 20px;
}

.barcode-print-wrapper .details {
    text-align: center;
}

.barcode-print-wrapper .product-name {
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.barcode-print-wrapper .price {
    font-size: 16px;
    font-weight: 400;
    color: var(--content-and-hover-bg);
    margin: 5px 0;
}

.barcode-print-wrapper .barcode-image {
    width: 100%;
    aspect-ratio: 16 / 4;
    margin: 6px 0;
}

.barcode-print-wrapper .barcode-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.barcode-print-wrapper .barcode-number {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin: 5px 0;
}

/* Grid container */

/* Grid items */
.barcode-print-wrapper .grid-item {
    display: flex;
    justify-content: center;
    background: var(--white);
    padding: 18px;
    border: 1px solid var(--gray);
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

.barcode-print-wrapper .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .barcode-print-wrapper .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 576px) {
    .barcode-print-wrapper .grid-container {
        grid-template-columns: 1fr;
    }
}

@media print {
    @page {
        size: A4;
        margin: 20px;
    }

    .barcode-print-wrapper .grid-container,
    .barcode-print-wrapper .barcode-preview,
    .barcode-print-wrapper {
        padding: 0;
        margin: 0;
    }

    .main-form,
    .header,
    .btn-print {
        display: none !important;
    }
}
/* .......................................................... */
/* ......................Bar Code Print Css End................. */
/* .......................................................... */

/* =============================================================== */
/* ------------ Date-Picker CSS Start -------------- */
/* ================================================================ */

.input-datepicker-wrapper {
    position: relative;
    width: 100%;
    display: flex;
}
.input-datepicker-wrapper .datepicker-picker {
    background: var(--white);
    border: 1px solid var(--stroke);
    box-shadow: var(--box-shadow);
}

.input-datepicker-wrapper input {
    width: 100%;
    border: 1px solid var(--gray);
}

.input-datepicker-wrapper input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.input-datepicker-wrapper .icon {
    position: absolute;
    right: 10px;
    top: 22px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #6c757d;
    pointer-events: none;
}

.datepicker-header .datepicker-controls .button {
    color: var(--text-color);
}

.datepicker-view .dow {
    color: var(--black);
}

.datepicker-cell.focused:not(.selected) {
    background: var(--primary-color);
    color: var(--white);
}

.datepicker-view .days .datepicker-cell:hover {
    background: var(--primary-color);
    color: var(--white);
}

.datepicker-cell.selected {
    background: orangered;
}

/* =============================================================== */
/* ------------ Date-Picker CSS End -------------- */
/* ================================================================ */

/* =============================================================== */
/* ------------ Filter Select Search Box Js Start -------------- */
/* ================================================================ */

.select-box-dropdown {
    position: relative;
    width: 100%;
}

.select-box-dropdown select {
    display: none;
}

.select-dropdown-selected {
    background-color: var(--white);
    color: var(--black);
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--gray);
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    align-items: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.select-dropdown-selected:hover {
    border: 1px solid var(--stroke);
}

.select-dropdown-selected .icon {
    transition: transform 0.3s;
}

.select-dropdown-items {
    position: absolute;
    background-color: var(--white);
    border: 1px solid var(--stroke);
    width: 100%;
    z-index: 1000;
    padding: 6px;
    display: none;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    top: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.select-dropdown-items::-webkit-scrollbar {
    width: 8px;
    background-color: #e6e3e3e5;
    cursor: pointer;
}

.select-dropdown-items::-webkit-scrollbar-thumb {
    background: #1f4529;
    width: 8px;
    border-radius: 5px;
    border-color: none !important;
}

.select-dropdown-items .option {
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    color: var(--black);
}

.select-dropdown-items .option:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.select-search-box {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    display: none; /* Initially hide the search input */
}

.select-dropdown-items.show {
    display: block;
}

/* Rotate the icon when the dropdown is open */
.select-dropdown-items.show + .select-dropdown-selected .icon {
    transform: rotate(180deg);
}

/* =============================================================== */
/* ------------ Filter Select Search Box Js End -------------- */
/* ================================================================ */
